@model HtmlWidgetForm;
<div class="card">
    <div class="card-header">
        <h2 class="text-secondary"> Edit Html Display Widget</h2>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <div class="bg-danger col-md-10 offset-md-2 d-none" asp-validation-summary="All"></div>
            <div id="loaderror" class="col-md-10 offset-md-2"></div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Widget Name</label>
                <div class="col-md-10">
                    <input type="text" asp-for="Name" class="form-control" value="@Model.Name" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Widget Zone</label>
                <div class="col-md-10">
                    <select type="text" asp-for="WidgetZoneId" asp-items="@Model.WidgetZoneItems" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Publish Start</label>
                <div class="col-md-10">
                    <div class="datepicker input-group">
                        <input type="text" asp-for="PublishStart" value="@(Model.PublishStart.HasValue ? Model.PublishStart.GetValueOrDefault().ToString("o") : "")" data-input />
                        <a class="input-button" title="toggle" data-toggle>
                            <i class="far fa-calendar"></i>
                        </a>
                        <a class="input-button" title="clear" data-clear>
                            <i class="far fa-times-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Publish End</label>
                <div class="col-md-10">
                    <div class="datepicker input-group">
                        <input type="text" asp-for="PublishEnd" value="@(Model.PublishEnd.HasValue ? Model.PublishEnd.GetValueOrDefault().ToString("o") : "")" data-input />
                        <a class="input-button" title="toggle" data-toggle>
                            <i class="far fa-calendar"></i>
                        </a>
                        <a class="input-button" title="clear" data-clear>
                            <i class="far fa-times-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Display Order</label>
                <div class="col-md-10">
                    <select class="form-control" asp-for="DisplayOrder">
                        @for (var i = 0; i < Model.numberOfWidgets; i++)
                        {
                            if (Model.DisplayOrder == i)
                            {
                                 <option value="@i" checked>@i</option>
                            }else{
                                  <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Html Content</label>
                <div class="col-md-10">
                    <textarea asp-for="HtmlContent" id="Content">@Model.HtmlContent</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                      <button class="btn btn-success" id="btn-submit">Save</button>
                      <a asp-controller="Widget" asp-action="Index" class="btn btn-light">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
         @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    <script src="~/lib/ckeditor5-build-classic/ckeditor.js"></script>
    <script src="~/js/upload-file.js"></script>
<script>
     var Editor = [];
     var allEditors = document.querySelector('#Content');
         ClassicEditor.create(allEditors, { extraPlugins: [MyCustomUploadAdapterPlugin] }).then(newEditor => {
            Editor.push(newEditor);
            }).catch(error => {
                console.error(error);
            });
          $("#btn-submit").on("click",function(event){
             var data = Editor[0].getData();
             $(allEditors).html(data);
          });
</script>
}