@model IEnumerable<CategoryVm>;

@section styles{
    <style>
        .thumnail {
            display: flex;
            justify-content: center;
            align-items: center,
        }
    </style>

}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-secondary">List Category</h2>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <a class="btn btn-primary" asp-controller="Category" asp-action="Create">
                        <i class="fas fa-plus"></i>
                        Add Items
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table  class="table table-bordered" style="width:100%" id="zero_config">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ThumbnailImageUrl</th>
                        <th>IncludeInMenu</th>
                        <th>DisplayOrder</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Name</th>
                            <td class="thumbnail">
                                <div>
                                    <img style="max-width:100px" src="@item.ThumbnailImageUrl" />
                                </div>
                            </td>
                            <td>@(item.IncludeInMenu == true ? Html.Raw("<i class='fas fa-check text-primary'></i>") :  Html.Raw("<i class='fas fa-times text-danger'></i>"))</td>
                            <td>@item.DisplayOrder</td>
                            <td>
                                <a asp-action="Updated" asp-route-id="@item.Id">
                                    <div class="btn btn-success">
                                        <i class="fas fa-edit"></i>
                                    </div>
                                </a>
                                <button class="btn btn-danger" onclick="Delete(@item.Id)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Delete(id) {
            onModifyOption(function () {
                var url = '@Url.Content("~/")' + "Category/Delete";
                $.post(url, { id: id }).then(function () {
                    toastr.success("Thành Công");
                    window.location = window.location.href;
                }).catch(function (eroor) {
                    toastr.error(eroor);
                });;
            });
        }
    </script>
}