@model CheckoutViewModel

<h2 class="mt-2">GIỎ HÀNG</h2>
@section head{
    <link rel="stylesheet" href="../css/cart.css">
}
@{ 
    var Count = 0;
}
@if (Model.CartItemVms != null)
{
    Count = Model.CartItemVms.Count;
}
@if (Count > 0 )
{
    decimal? total = 0;
    int stt = 1;
<main>
    <div id="woocommerce">

    </div>
    <div id="cart">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cart">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td scope="col"><span class="hidden-sm-down ">Sản phẩm</span></td>
                                    <td scope="col" width="120" class="hidden-sm-down ">Giá</td>
                                    <td scope="col" width="100">Số lượng</td>
                                    <td scope="col" width="120" class="hidden-sm-down ">Tổng</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItemVms)
                                {
                                    decimal? thanhtien = 0;
                                    if (item.ProductVm.Sale == null)
                                    {
                                        thanhtien += item.Quantity * item.ProductVm.Price;
                                        total += thanhtien;
                                    }
                                    else
                                    {
                                        thanhtien += item.Quantity * item.ProductVm.Sale;
                                        total += thanhtien;
                                    }

                                    <tr class="item-in-cart" data-id="@item.ProductId">
                                        <td>
                                            <div class="cart-item-details" style="display:flex;" data-id="@item.Id">
                                                <div>
                                                    <a href="@item.ProductVm.Slug"><img src="/user-content/@item.ProductVm.ThumbnailImageUrl"></a>
                                                </div>


                                                <div class="cart-item-price hidden-md-up">
                                                    <a href="@item.ProductVm.Slug">@item.ProductVm.Title</a>
                                                    @if (item.Values.Count > 0)
                                                    {
                                                        <button type="button" class="option-modal" data-toggle="modal" data-target="#exampleModal-2" data-id="@item.Id">



                                                            @for (int i = 0; i < item.Values.Count; i++)
                                                            {

                                                                <span class="optionValues" data-id="@item.Values[i].optionId">
                                                                    @item.Values[i].optionValues
                                                                </span>
                                                                @if (i != item.Values.Count - 1)
                                                                {
                                                                    <span>/</span>
                                                                }
                                                            }
                                                            <span><i class="fas fa-caret-down"></i></span>

                                                        </button>
                                                    }
                                                    <p class="no-margin">
                                                        <span>@item.Quantity</span> X <span class="price">
                                                                    @if (item.ProductVm.Sale == null)
                                                                    {
                                                                        <span>@(item.ProductVm.Price.GetValueOrDefault().ToString("#,###")) <small>₫</small></span>

                                                                    }
                                                                    else
                                                                    {
                                                                        <span> @(item.ProductVm.Sale.GetValueOrDefault().ToString("#,###")) <small>₫</small></span>
                                                                    }
                                                                </span>
                                                    </p>
                                                    <a class="remove-in-cart">Remove</a>
                                                </div>

                                            </div>
                                        </td>
                                        <td class="hidden-sm-down">
                                            <div class="cart-item-price">
                                                @if (item.ProductVm.Sale == null)
                                                {
                                                <span style="color:black">@item.ProductVm.Price.GetValueOrDefault().ToString("#,###") </span>
                                                }
                                                else
                                                {
                                            <span style="color:black">@item.ProductVm.Sale.GetValueOrDefault().ToString("#,###") </span>
                                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                    <span><del>@item.ProductVm.Price.GetValueOrDefault().ToString("#,###") </del></span>
                                                }

                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="cart-item-quantity">
                                                <div class="quantity">
                                                    <div class="wrap-num-product">
                                                        <div class="btn-num-product-down">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </div>
                                                        <input class="txt-center num-product" type="number" name="num-product" value="@item.Quantity">

                                                        <div class="btn-num-product-up">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="hidden-sm-down">
                                            @if (item.ProductVm.Sale == null)
                                            {   
                                            <span> @((item.ProductVm.Price * item.Quantity).GetValueOrDefault().ToString("#,###"))<small>₫</small></span>

                                               
                                            }
                                            else
                                            {
                                            <span>
                                                @((item.ProductVm.Sale * item.Quantity).GetValueOrDefault().ToString("#,###")) <small>₫</small></span>
                                              
                                            }
                                        </td>
                                    </tr>

                                }
                                @*Modal*@
                                <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="container bg0">
                                                    <div class="p-t-15 p-b-20 how-pos3">
                                                        <div style="float:right">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div id="modal-item2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tbody>
                        </table>
                    </div>
                    @*<div id="modal-item2"></div>*@
                    <hr>
                    <a class="return-shop" asp-controller="Product" asp-action="index"><i class="fa fa-angle-left" aria-hidden="true"></i> Tiếp tục mua hàng </a>
                </div>
                <div class="col-md-4 total">
                    <div class="box">

                        <h3 class="title">Tổng đơn hàng</h3>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tổng</td>
                                    <td class="text-right">@total.GetValueOrDefault().ToString("#,###")  <small>₫</small></td>
                                </tr>
                                <tr>
                                    <td>Phí vận chuyển</td>
                                    <td class="text-right">25.000 <small>₫</small></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Mã giảm giá
                                        <br>
                                        <input class="input_style1 m_t_10" type="text" name="discount">
                                    </td>

                                </tr>
                                <tr>
                                    <td>Thanh toán</td>
                                    <td class="text-right">@((total + 25000).GetValueOrDefault().ToString("#,###") ) <small>₫</small></td>
                                </tr>
                            </tbody>
                        </table>
                        <a asp-controller="cart" asp-action="checkout" class="btn btn-black">Thanh toán</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
 
    <div class="clearfix"></div>
    <div class="product">
            <div class="container">
                <div class="row">
                    <h2 class="title">Sản phẩm vừa xem</h2>
                    @if (Model.Viewed.Count > 0)
                    {
                        @foreach (var item in Model.Viewed)
                        {
                            <div class="col-md-3 col-6 item-product">
                                <div class="product-grid6" data-id="@item.Id">
                                    <div class="product-image6">
                                        <a href="/chi-tiet/@item.Slug">
                                            <img class="pic-1" src="/user-content/@item.Thumbnail.FileName">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="chi-tiet/@item.Slug">@item.Title</a></h3>
                                        <div>
                                            @if (item.Sale > 0)
                                            {
                                                <span>@item.Sale.GetValueOrDefault().ToString("#,###") ₫</span>
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                <span class="sale"><del>@item.Price.GetValueOrDefault().ToString("#,###") ₫</del></span>
                                            }
                                            else
                                            {
                                                <span><del>@item.Price.GetValueOrDefault().ToString("#,###") ₫</del></span>
                                            }
                                        </div>
                                    </div>
                                    <ul class="social">
                                        <li><a href="javascript:void(0)" class="js-show-modal" data-toggle="modal" data-target="#exampleModal-1" data-id="@item.Id" data-tip="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="" class="js-add-wishlist" data-status="true" data-id="@item.Id" data-tip="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="" class="togget-add-cart" data-status="true" data-id="@item.Id" data-tip="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
</main>
}
else
{
<div class="mt-2">
    <p class="alert alert-danger">Giỏ hàng trống</p>
</div>
   
}
@section Scripts{
    <script>
    $(document).on('click', '.remove-in-cart', function (e) {
        var parent = $(this).parents('.item-in-cart');
        var id = parseInt(parent.attr('data-id'));
        var CartId = parseInt(parent.find(".cart-item-details").data("id"));

            $.ajax({
                type: 'POST',
                url: '@Url.ActionLink("RemoveCart", "Cart")',
                data: {
                    productid: id,
                    CartId: CartId
                },
                success: function (result) {
                    //  addtocart();
                    window.location.href = '@Url.ActionLink("cart", "cart")';
                }
            })
        });
    $(document).on('change', '.num-product', function () {
        var parent = $(this).parents('.item-in-cart');
        var id = parseInt(parent.attr('data-id'));
        var value = parseInt($(this).val());
        var CartId = parseInt(parent.find(".cart-item-details").data("id"));
        if (value == null || value == '') {
            (this).val();
        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.ActionLink("UpdateCart", "Cart")',
                data: {
                    productid: id,
                    quantity: value,
                    CartId: CartId
                },
                success: function (result) {
                    //addtocart();
                            window.location.href = '@Url.ActionLink("cart", "cart")';
                }
            });
        }
    })
        $(document).on('click', '.fa-plus', function () {
        var parent = $(this).parents('.item-in-cart');
        var id = parseInt(parent.attr('data-id'));
        var value = parseInt(parent.find('.num-product').val());
        var CartId = parseInt(parent.find(".cart-item-details").data("id"));
        value++;
        $.ajax({
            type: 'POST',
            url: '@Url.ActionLink("UpdateCart", "Cart")',
            data: {
                productid: id,
                quantity: value,
                CartId: CartId
            },
            success: function (result) {
                // addtocart();
                        window.location.href = '@Url.ActionLink("cart", "cart")';
            }
        });
    });
    $(document).on('click', '.fa-minus', function () {
        var parent = $(this).parents('.item-in-cart');
        var id = parseInt(parent.attr('data-id'));
        var value = parseInt(parent.find('.num-product').val());
        var CartId = parseInt(parent.find(".cart-item-details").data("id"));
        if (value == 1) {
            $.ajax({
                type: 'POST',
                url: '@Url.ActionLink("RemoveCart", "Cart")',
                data: {
                    productid: id,
                    CartId: CartId
                },
                success: function (result) {
                  window.location.href = '@Url.ActionLink("cart", "cart")';
                }
            });
        } else
        {
            value--;
            $.ajax({
                type: 'POST',
                url: '@Url.ActionLink("UpdateCart", "Cart")',
                data: {
                    productid: id,
                    quantity: value,
                    CartId: CartId
                },
                success: function (result) {
                    window.location.href = '@Url.ActionLink("cart", "cart")';
                }
            });
        }
    });


        function loadevent2(result) {
            var quantity = result.quantity;
            var ListChecked = result.values;
            var optionvalue = result.productVm.productOptionVm;
            for (var i in ListChecked) {
                var item = ListChecked[i];
                var input = $(`input[name='inlineRadioOptions-${item.optionId}']`);
                input.each(function () {
                    if ($(this).val() == item.optionValues) {
                        $(`.form-check-label[data-id=${item.optionId}]`).removeClass('optionactive')
                        $(this).prop('checked', $(input).is(':checked')).next().addClass("optionactive");
                        $(this).parents(".option").find('span').text(item.optionValues);
                    }
                })
            }
            for (let i in optionvalue) {
                var item = optionvalue[i];
                $(`input[name='inlineRadioOptions-${item.id}']`).change(function () {
                    var checked = $(this).val();

                    var id = parseInt($(this).next().attr("data-id"));
                    let item = { optionId: id, optionName:null, optionValues: checked };
                    var yet = ListChecked.findIndex(x => x.optionId == id);
                    if (yet != -1) {
                        ListChecked.splice(yet, 1);
                    }
                    if ($(this).is(':checked')) {
                        ListChecked.push(item);
                    }
                });
                $(`input[name="inlineRadioOptions-${item.id}"]`).on('click', function () {
                    var id = parseInt($(this).next().attr("data-id"));
                    var value = $(this).val();
                    $(`.form-check-label[data-id=${id}]`).removeClass('optionactive')
                    $(this).prop('checked', $(this).is(':checked')).next().addClass("optionactive");
                    $(this).parents(".option").find('span').text(value);

                });


            }
            $(document).on('click', '.update-cart', function (e) {
                var parent = $(this).parents('.product-details-item');
                var productid = parseInt(parent.attr('data-id'));
                var CartId = parseInt($(this).data("id"));
                var sortArr = ListChecked.sort(function (a, b) {
                      return a.optionId - b.optionId;
                  });
                  var values = JSON.stringify(sortArr)
                    $.ajax({
                        type: 'POST',
                        url: '@Url.ActionLink("UpdateCart", "Cart")',
                        data: {
                            productid: productid,
                            CartId: CartId,
                            quantity: quantity,
                            values: values

                        },
                        success: function (result) {
                            //  addtocart();
                            window.location.href = '@Url.ActionLink("cart", "cart")';
                        }
                    })
            });
        }


        function LoadModal2(result) {
            var html = "";
            var item = result;
                html += `<div class="col-md-12">
                        <div class="col-md-6 single-left gallery-lb">`
                 for (var i = 0; i < item.productVm.productImages.length; i++) {
                    if (i == 0)
                        {
                            html += ` <div class="mySlides" style="display: block;">
                                <div class="numbertext">${i+1} / ${item.productVm.productImages.length}  </div>
                                <a class="zoom " href="${item.productVm.productImages[i].mediaUrl}" tabindex="0">
                                    <i class="fal fa-expand"></i>
                                </a>
                                <img src="${item.productVm.productImages[i].mediaUrl}" style="width:100%">
                            </div>`
                        }
                        else
                        {
                                html +=  ` <div class="mySlides" style="display: none;">
                                <div class="numbertext">${i+1} / ${item.productVm.productImages.length}  </div>
                                <a class="zoom " href="${item.productVm.productImages[i].mediaUrl}" tabindex="0">
                                    <i class="fal fa-expand"></i>
                                </a>
                                <img src="${item.productVm.productImages[i].mediaUrl}" style="width:100%">
                                </div>`
                        }
                    }
                        html +=  `<button class="img-prev" onclick="plusSlides(-1,this)"><i class="fal fa-angle-left" aria-hidden="true"></i></button>
                        <button class="img-next" onclick="plusSlides(1,this)"><i class="fal fa-angle-right" aria-hidden="true"></i></button>

                        <div class="image-slide">`
                    for (var i = 0; i < item.productVm.productImages.length; i++)
                    {
                        html +=  `<div class="column">
                            <img class="demo cursor" src="${item.productVm.productImages[i].mediaUrl}" style="width:100%" onclick="currentSlide(${i+1},this)" alt="${item.productVm.title}">
                        </div>`
                    }
               html+= ` </div>
                    </div><!--Hình ảnh-->
                    <div class="col-md-6 single-right pd-xs-0 product-details">
                        <div class=" product-details-item" data-id="${item.productVm.id}">
                            <h1 class="single-title">${item.productVm.title}</h1>
                            <p class="price">`
                if (item.productVm.sale > 0)
                { /*.GetValueOrDefault(0).toString("#,#.##")*/
                    html += `<span>${numeral(item.productVm.sale).format('0,000') }<small>₫</small> - </span>
                                <del class="sale">${numeral(item.productVm.price).format('0,000') } <small>₫</small></del>`
                        }
                        else
                        {
                            html += ` <span>
                                ${numeral(item.productVm.price).format('0,000') }<small>₫</small>
                            </span>`
                        }
                     html += ` </p>`
                    if (item.productVm.rating.length > 0)
                            {
                                html += `<div class="product-rating">
                                    <span class="rating star-rating">`
                                for (var i = 0; i < item.productVm.rating.length; i++) {
                                         html += `${ item.productVm.rating[i].scores }`
                                    }
                        html += `   </span>

                                    <a href="#reviews" class="review-link" rel="nofollow">(<span class="count">${item.productVm.rating.length}</span> nhận xét)</a>
                                </div>
                                <div itemprop="description" class="short-description">
                                    <p>${item.productVm.description} </p>
                                </div>`
                            }

                 for (var i in item.productVm.productOptionVm) {
                            var item2 = item.productVm.productOptionVm[i];

                                if (item2.name == "Size")
                                {
                                html +=  `<div class="option">
                                        <div>
                                            Kích thước:
                                            <span></span>
                                        </div>
                                        <ul>`
                                    for (var i in item2.values) {
                                        var item3 = item2.values[i]
                                            html += ` <li>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions-${item2.id}" id="inlineRadio-${item3.key}" value="${item3.key}">
                                                        <label class="form-check-label" for="inlineRadio-${item3.key}" data-id="${item2.id}">${item3.display}</label>
                                                    </div>
                                                </li>`
                                            }

                                    html += ` </ul>
                                        </div>`
                                }
                                else
                                {

                                    html +=` <div class="option">
                                        <div>
                                            Màu Sắc:
                                            <span></span>
                                        </div>
                                        <ul>`
                                    for (var i in item2.values) {

                                                        var item3 = item2.values[i]
                                                    html += ` <li>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions-${item2.id}" id="inlineRadio-${item3.key}" value="${item3.key}">
                                                        <label class="form-check-label" for="inlineRadio-${item3.key}" style="background-color:#${item3.display};border-radius: 50%;" data-id="${item2.id}"></label>
                                                    </div>
                                                     </li>`
                                                }
                                    html +=`</ul></div>`
                                }
                            }

                            //update giỏ hàng
              html +=` <div class="update-cart" data-id="${item.id}">
                                Cập nhật giỏ hàng
                                <span><i class="fal fa-shopping-basket" aria-hidden="true"></i></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="add-wishlist">
                                <a href="#"> <span><i class="fal fa-heart" aria-hidden="true"></i></span>Thêm danh sách yêu thích</a>
                            </div>

                            <div class="clearfix"></div>
                            <div class="product-meta">`
                            if (item.productVm.brand != null)
                            {
                                html +=` <span class="product_brand">
                                        Thương hiệu:
                                        <a href="#">${item.productVm.brand.name}</a>
                                    </span>`
                            }
                                html +=` <span class="product_sku">
                                            Xuất xứ:
                                            <a href="#">N/A</a>
                                        </span>`
                            if (item.productVm.category != null)
                            {
                                html +=`<span class="product_category">
                                    Danh mục:
                                    <a href="#">${item.productVm.category.title}</a>
                                </span>`
                            }

                            html +=`    <span class="product_share">
                                Chia sẻ:
                                <a href="#" class="share-facebook" style="color: #025aa5 !important"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        </div>
                    </div>
                    </div><!--Thông tin cơ bản-->
               `;


            $("#modal-item2").html(html);
            Rating();
        }
        $(document).on('click', '.option-modal', function (e) {
            var CartId = $(this).data("id");
            $.ajax({
                type: 'POST',
                url: '@Url.ActionLink("Cart","Cart")',
                data: {
                    CartId: CartId,
                },
                success: function (result) {

                    LoadModal2(result);
                    loadevent2(result);
                }
            })
        });

    </script>
}