@model CheckoutViewModel
@section head{

    <link href="~/css/checkout.css" rel="stylesheet" />
}
@if (Model.CartItems.Count > 0)
{
    decimal? Total = 0;

    <main>
        <div id="woocommerce">

        </div>
        <div id="checkout">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <form asp-action="Checkout" method="post" class="checkout-adress" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h3>Thông tin cơ bản</h3>
                                <div class="form-group">
                                    <span class="first-name">
                                        <label asp-for="@Model.CheckoutModel.FirstName" class="control-label"></label>
                                        <span>*</span>
                                        <input asp-for="@Model.CheckoutModel.FirstName " type="text" class="form-control " required />
                                        <span asp-validation-for="@Model.CheckoutModel.FirstName" class="text-danger"></span>
                                    </span>
                                        <span class="last-name">
                                            <label asp-for="@Model.CheckoutModel.LastName" class="control-label"></label>
                                            <span>*</span>
                                            <input asp-for="@Model.CheckoutModel.LastName" type="text" class="form-control" required />
                                            <span asp-validation-for="@Model.CheckoutModel.LastName" class="text-danger"></span>
                                        </span>
                                    </div>
                           <div class="clearfix"></div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.PhoneNumber" class="control-label"></label>
                                <span>*</span>
                                <input asp-for="@Model.CheckoutModel.PhoneNumber" type="tel" class="form-control" required />
                                <span asp-validation-for="@Model.CheckoutModel.PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.Email" class="control-label"></label>
                                <input asp-for="@Model.CheckoutModel.Email" type="email" class="form-control" />
                                <span asp-validation-for="@Model.CheckoutModel.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.AddressLine1" class="control-label"></label>
                                <span>*</span>
                                <input asp-for="@Model.CheckoutModel.AddressLine1" type="text" class="form-control" required />
                                <span asp-validation-for="@Model.CheckoutModel.AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.AddressLine2" class="control-label"></label>
                                <input asp-for="@Model.CheckoutModel.AddressLine2" type="text" class="form-control" />
                                <span asp-validation-for="@Model.CheckoutModel.AddressLine2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.Note" class="control-label"></label>
                                <textarea asp-for="@Model.CheckoutModel.Note" class="form-control" placeholder="Mô tả"></textarea>
                                <span asp-validation-for="@Model.CheckoutModel.Note" class="text-danger"></span>
                            </div>

                        </form>
                        <hr>
                        <a class="return-shop" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Tiếp tục mua hàng </a>
                    </div>
                        <div class="col-md-5 total">
                            <div class="box">
                                <h3 class="title">Đơn hàng của bạn</h3>
                                <ul class="scroll-js list-product-checkout scroll-y">

                                    @foreach (var item in Model.CartItems)
                                    {
                                        decimal? thanhtien = 0;
                                        if (item.product.Sale == null)
                                        {
                                            thanhtien += item.quantity * item.product.Price;
                                            Total += thanhtien;
                                        }
                                        else
                                        {
                                            thanhtien += item.quantity * item.product.Sale;
                                            Total += thanhtien;
                                        }
                                        <li>
                                            <div class="img-left">
                                                <a href="chi-tiet/@item.product.Slug"><img src="https://localhost:44360/user-content/@item.product.Thumbnail.FileName" style="width: 100%"></a>
                                            </div>
                                            <div class="meta-right">
                                                <a href="" class="remove-item"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                <a href="chi-tiet/@item.product.Slug">@item.product.Title</a>
                                                <p class="price">
                                                    @if (item.product.Sale > 0)
                                                    {
                                                    <span>@item.product.Sale ₫</span>
                                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                        <span class="sale"><del>@item.product.Price ₫</del></span>
                                                    }
                                                    else
                                                    {
                                                        <span ><del>@item.product.Price ₫</del></span>
                                                    }

                                                </p>
                                                <p class="quantity"><span class="name">Số lượng: </span><span>@item.quantity</span></p>
                                            </div>
                                            <div class="clearfixr"></div>
                                        </li>

                                    }

                                </ul>
                                <table class="table">
                                    <tr>
                                        <td>Tổng</td>
                                        <td class="text-right">@Total ₫</td>
                                    </tr>
                                    <tr>
                                        <td>Phí vận chuyển</td>
                                        <td class="text-right">25.000 ₫</td>
                                    </tr>
                                    <tr>
                                        <td>Thanh toán</td>
                                        <td class="text-right">@(Total - 25000) ₫</td>
                                    </tr>
                                </table>
                                @*<div class="payment">
                                    <ul>
                                        <li class="choose-payment">
                                            <input type="radio" name="payment" checked>
                                            <label>Thanh toán khi nhận hàng</label>

                                        </li>
                                        <li class="choose-payment">
                                            <input type="radio" name="payment">
                                            <label>Thanh toán online</label>
                                        </li>
                                    </ul>
                                </div>*@
                                <p class="text-center"><button class="btn btn-black checkout">Thanh toán</button></p>
                            </div>
                        </div>
                    </div>

            </div>

        </div>
        <div class="clearfix"></div>
        <div class="product">
            <div class="container">
                <div class="row">
                    <h2 class="title">Sản phẩm vừa xem</h2>
                    @if (Model.Viewed.Count > 0)
                    {
                        @foreach (var item in Model.Viewed)
                        {
                            <div class="col-md-3 col-6 item-product">
                                <div class="product-grid6">
                                    <div class="product-image6">
                                        <a href="chi-tiet/@item.Slug">
                                            <img class="pic-1" src="https://localhost:44360/user-content/@item.Thumbnail.FileName">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="chi-tiet/@item.Slug">@item.Title</a></h3>
                                        <div class="price">
                                            @if (item.Sale > 0)
                                            {
                                                <span>@item.Sale ₫</span>
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                <span class="sale"><del>@item.Price ₫</del></span>
                                            }
                                            else
                                            {
                                                <span><del>@item.Price ₫</del></span>
                                            }
                                        </div>
                                    </div>
                                    <ul class="social">
                                        <li><a href="javascript:void(0)" class="js-show-modal1" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                        <li><a href="javascript:void(0)" class="js-add-wishlist" data-status="true" data-id="0" data-tip="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                        <li><a href="javascript:void(0)" data-tip="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }



                </div>
            </div>
        </div>
    </main>
}
else
{
    <p class="alert alert-danger">Không Có Sản Phẩm Nào</p>
}
@section Scripts{ 
<script>
    $(document).ready(function () {
        $('.checkout').on('click', function () {
            $('.checkout-adress').submit();
        });
    });
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    
</script>
} 