@model CheckoutViewModel
@section head{

    <link href="~/css/checkout.css" rel="stylesheet" />
}
@if (Model.CartItemVms.Count > 0)
{
    decimal? Total = 0;

    <main>
        <div id="woocommerce">

        </div>
        <div id="checkout">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <form asp-action="Checkout" method="post" class="checkout-adress">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h3>Thông tin cơ bản</h3>
                            <div class="form-group">
                                <span class="first-name">
                                    <label asp-for="@Model.CheckoutModel.FirstName" class="control-label"></label>
                                    <span>*</span>
                                    <input asp-for="@Model.CheckoutModel.FirstName " type="text" class="form-control " required />
                                    <span asp-validation-for="@Model.CheckoutModel.FirstName" class="text-danger"></span>
                                </span>
                                <span class="last-name">
                                    <label asp-for="@Model.CheckoutModel.LastName" class="control-label"></label>
                                    <span>*</span>
                                    <input asp-for="@Model.CheckoutModel.LastName" type="text" class="form-control" required />
                                    <span asp-validation-for="@Model.CheckoutModel.LastName" class="text-danger"></span>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.PhoneNumber" class="control-label"></label>
                                <span>*</span>
                                <input asp-for="@Model.CheckoutModel.PhoneNumber" type="tel" class="form-control" required />
                                <span asp-validation-for="@Model.CheckoutModel.PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.Email" class="control-label"></label>
                                <input asp-for="@Model.CheckoutModel.Email" type="email" class="form-control" />
                                <span asp-validation-for="@Model.CheckoutModel.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.AddressLine1" class="control-label"></label>
                                <span>*</span>
                                <input asp-for="@Model.CheckoutModel.AddressLine1" type="text" class="form-control" required />
                                <span asp-validation-for="@Model.CheckoutModel.AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.AddressLine2" class="control-label"></label>
                                <input asp-for="@Model.CheckoutModel.AddressLine2" type="text" class="form-control" />
                                <span asp-validation-for="@Model.CheckoutModel.AddressLine2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckoutModel.Note" class="control-label"></label>
                                <textarea asp-for="@Model.CheckoutModel.Note" class="form-control" placeholder="Mô tả"></textarea>
                                <span asp-validation-for="@Model.CheckoutModel.Note" class="text-danger"></span>
                            </div>

                        </form>
                        <hr>
                        <span style="float:right"> * trường này là bắt buộc</span>
                        <a class="return-shop" asp-controller="Product" asp-action="Index"><i class="fa fa-angle-left" aria-hidden="true"></i> Tiếp tục mua hàng </a>

                    </div>
                        <div class="col-md-5 total">
                            <div class="box">
                                <h3 class="title">Đơn hàng của bạn</h3>
                                <ul class="scroll-js list-product-checkout scroll-y">

                                    @foreach (var item in Model.CartItemVms)
                                    {
                                        decimal? thanhtien = 0;
                                        if (item.ProductVm.Sale == null)
                                        {
                                            thanhtien += item.Quantity * item.ProductVm.Price;
                                            Total += thanhtien;
                                        }
                                        else
                                        {
                                            thanhtien += item.Quantity * item.ProductVm.Sale;
                                            Total += thanhtien;
                                        }
                                        <li>
                                            <div class="img-left">
                                                <a href="chi-tiet/@item.ProductVm.Slug"><img src="/user-content/@item.ProductVm.ThumbnailImageUrl" style="width: 100%"></a>
                                            </div>
                                            <div class="meta-right">
                                                <a href="" class="remove-item"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                <a href="chi-tiet/@item.ProductVm.Slug">@item.ProductVm.Title</a>
                                                <p class="price">
                                                    @if (item.ProductVm.Sale > 0)
                                                    {
                                                    <span>@item.ProductVm.Sale ₫</span>
                                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                        <span class="sale"><del>@item.ProductVm.Price.GetValueOrDefault().ToString("#,###") ₫</del></span>
                                                    }
                                                    else
                                                    {
                                                        <span ><del>@item.ProductVm.Price.GetValueOrDefault().ToString("#,###") ₫</del></span>
                                                    }

                                                </p>
                                                <p class="quantity"><span class="name">Số lượng: </span><span>@item.Quantity</span></p>
                                            </div>
                                            <div class="clearfixr"></div>
                                        </li>

                                    }

                                </ul>
                                <table class="table">
                                    <tr>
                                        <td>Tổng</td>
                                        <td class="text-right">@Total.GetValueOrDefault().ToString("#,###") ₫</td>
                                    </tr>
                                    <tr>
                                        <td>Phí vận chuyển</td>
                                        <td class="text-right">25.000 ₫</td>
                                    </tr>
                                    <tr>
                                        <td>Thanh toán</td>
                                        <td class="text-right">@((Total + 25000).GetValueOrDefault().ToString("#,###")) ₫</td>
                                    </tr>
                                </table>
                                <p class="text-center"><button class="btn btn-black checkout">Thanh toán</button></p>
                            </div>
                        </div>
                    </div>

            </div>

        </div>
        <div class="clearfix"></div>
        <div class="product">
            <div class="container">
                <div class="row">
                    <h2 class="title">Sản phẩm vừa xem</h2>
                    @if (Model.Viewed.Count > 0)
                    {
                        @foreach (var item in Model.Viewed)
                        {
                            <div class="col-md-3 col-6 item-product">
                                <div class="product-grid6" data-id="@item.Id">
                                    <div class="product-image6">
                                        <a href="chi-tiet/@item.Slug">
                                            <img class="pic-1" src="/user-content/@item.Thumbnail.FileName">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="chi-tiet/@item.Slug">@item.Title</a></h3>
                                        <div >
                                            @if (item.Sale > 0)
                                            {
                                                <span>@item.Sale ₫</span>
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                <span class="sale"><del>@item.Price.GetValueOrDefault().ToString("#,###") ₫</del></span>
                                            }
                                            else
                                            {
                                                <span><del>@item.Price.GetValueOrDefault().ToString("#,###") ₫</del></span>
                                            }
                                        </div>
                                    </div>
                                    <ul class="social">
                                        @*<li><a href="javascript:void(0)" class="js-show-modal" data-toggle="modal" data-target="#exampleModal-1" data-id="@item.Id" data-tip="Quick view"><i class="fa fa-search"></i></a></li>*@
                                        <li><a href="" class="js-add-wishlist" data-status="true" data-id="@item.Id" data-tip="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                   
                                    </ul>
                                </div>
                            </div>
                        }
                    }



                </div>
            </div>
        </div>
    </main>
}
else
{
    <p class="alert alert-danger">Không Có Sản Phẩm Nào</p>
}
@section Scripts{ 
<script>
    $(document).ready(function () {
        $('.checkout').on('click', function () {
            $('.checkout-adress').submit();
        });

    });
    $("#cart").css("display", "none");
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    
</script>
} 