@model List<Product>
<div class="cart">
    <h2 class="p-2">Danh sách yêu thích</h2>
    <div class="cart-body">
        <div class="col-md-12 col-12 ">
            <ul style=" display: flex;flex-wrap: wrap; list-style-type:none">
                @foreach (var item in Model)
                {
                    <li class="col-md-3 col-6 product-item">

                        <div class="product-grid6 " id="item_@item.Id" data-id="@item.Id">
                            <div class="product-image6">
                                <a href="/chi-tiet/@item.Slug">
                                    <img class="pic-1" src="/user-content/@item.Thumbnail.FileName" alt="@item.Title">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">@item.Title</a></h3>
                                <div>
                                    @if (item.Sale > 0)
                                    {
                                        <span class="price">@item.Price.GetValueOrDefault().ToString("#,###")  ₫- </span>
                                        <span class="sale">@item.Sale.GetValueOrDefault().ToString("#,###")  ₫</span>
                                    }
                                    else
                                    {
                                        <span class="price">@item.Price.GetValueOrDefault().ToString("#,###")  ₫</span>
                                    }
                                </div>
                            </div>
                            <ul class="social">
                                <li><a href="javascript:void(0)" class="js-show-modal" data-toggle="modal" data-target="#exampleModal-1" data-id="@item.Id" data-tip="Quick view"><i class="fa fa-search"></i></a></li>
                                <li><a href="javascript:void(0)" class="remove-wishlish" data-status="true" data-id="@item.Id" data-tip="Remove to Wishlist"><i class="fas fa-times-circle"></i></a></li>
                                <li>
                                    <a href="javascript:void(0)" class="togget-add-cart" data-status="true" data-id="@item.Id" data-tip="Add to Cart">
                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
