@model List<ProductVm>
@inject SignInManager<User> SignInManager
<div id="product-new" class="product">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h2 class="title">Sản phẩm mới</h2>
            <div class="col-md-12">
                <div class="owl-carousel owlCarousel_slider2 owl-theme">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="product-item">
                                <div class="product-grid6" id="item_@item.Id" data-id="@item.Id">
                                    <div class="product-image6">
                                        <a href="~/@item.Slug">
                                            <img class="pic-1" src="@item.ThumbnailImageUrl" alt="@item.Name">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <div>
                                            <h3 class="product-title">
                                                <a href="#">@item.Name</a>
                                            </h3>
                                        </div>
                                        <div>
                                        @*  @if (item.Sale > 0)
                                            {
                                                <span class="price">@item.Price.ToString("#,###")  ₫ - </span>
                                                <span class="sale">@item.Sale.GetValueOrDefault().ToString("#,###")   ₫</span>
                                            }
                                            else
                                            {
                                                <span class="price">@item.Price.ToString("#,###")   ₫</span>
                                            }*@
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <a href="javascript:void(0)" class="js-add-wishlist" data-status="true" data-id="@item.Id" data-tip="Add to Wishlist"><i class="fal fa-heart"></i></a>
                                            }
                                            else
                                            {
                                                <a style="float:right" asp-area="Admin" asp-controller="Account" asp-action="Login" asp-route-returnurl="@($"{Context.Request.Path}{Context.Request.QueryString}")"><i class="fal fa-heart"></i></a>
                                            }
                                        </div>

                                    </div>
                                    <ul class="list-inline product-ratings">
                                        <li><input type="hidden" value="@item.RatingAverage" readonly="readonly" class="rating-loading" step="1" data-size="xs" data-show-clear="false" data-show-caption="false" /></li>
                                        @if(item.ReviewsCount > 0){
                                        <li class="product-review-list">
                                            <span>(@item.ReviewsCount reviews)</span>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>