<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <link href="~/lib/owl.carousel/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/list_product.css">

    <link rel="stylesheet" href="~/css/custom-select.css">
    <link rel="stylesheet" href="~/css/single.css">
    <!--============================Animation========================================-->
    <link rel="stylesheet" type="text/css" href="~/css/animation.css">
    <!--============================Animation========================================-->

    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <div id="header-top" class=" hidden-sm-down">
            <div class="container">
                <div class="languages">
                    <ul class="nav">
                        <li class="lan custom-select">
                            <select>
                                <option>Tiếng việt</option>
                                <option>English</option>
                            </select>
                        </li>
                        <li class="money custom-select">
                            <select>
                                <option>VNĐ</option>
                                <option>USD</option>
                            </select>
                        </li>
                        <li>
                            <div class="textwidget">
                                <p>
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i> +84 987 325 600
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="top-link">
                    <ul class="nav">
                        <li><a href="~/html/trackorder.html">Track order</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mobile-nav">
            <div class="mobile-logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/system/logo.png"></a>
            </div>
            <div class="mobile-group-btn">
                <ul>
                    <li>
                        <a href="" class="js-show-modal-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                    <li class="wishlist-icon">
                        <a href="~/html/wishlist.html"><i class="fal fa-heart"></i> <span class="wishlist-count">2</span></a>
                        <input type="number" id="wishlist-count-input-mb" name="wishlist-count">
                    </li>
                    <li class="cart-icon">
                        <a href="~/html/cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="cart-count">0</span></a>
                        <input type="number" id="cart-count-input-mb" name="cart-count">
                    </li>
                    <li class="open-close">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div id="header-mid">
            <div class="container">
                <a href="" class="close-menu close-open"><i class="fas fa-window-close"></i></a>
                <div class="row">
                    <div class="col-8">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/img/system/logo.png"></a>
                        </div>
                        <div class="menu-main">
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link active" asp-controller="Product" asp-action="Index">Product</a></li>
                                <li class="nav-item"><a class="nav-link active" asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li class="nav-item"><a class="nav-link active" asp-controller="Contact" asp-action="Index">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="menu-login">
                            <ul class="nav">
                                <li>
                                    <a href="javascript:void(0)" class="js-show-modal-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                                <!--<li class="login-icon">
                                    <a href="~/html/login.html">LOG IN / SIGN UP</a>
                                    <div class="login-content content-dropdown">
                                        <form>
                                            <label>Tên đăng nhập</label>
                                            <input type="text" name="username" autocomplete="off">
                                            <label>Mật khẩu</label>
                                            <input type="password" name="password" autocomplete="off">
                                            <div class="note">
                                                <span><i class="fa fa-square-o" aria-hidden="true"></i> ghi nhớ</span>
                                                <a href="" style="float: right;">Quên mật khẩu</a>
                                            </div>
                                            <button class="btn btn-black">Đăng nhập</button>
                                            <div class="note">
                                                <span>Khách hàng mới</span>
                                                <a href="" style="padding-left: 10px;">Đăng ký</a>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="wishlist-icon">
                                    <a href="~/html/wishlist.html"><i class="fal fa-heart"></i> <span class="wishlist-count">2</span></a>
                                    <input type="number" id="wishlist-count-input" name="wishlist-count" value="2">
                                    <div class="wishlist-content content-dropdown">
                                        <ul class="scroll-js scroll-y">-->
                                            <!-- Danh sách sản phẩm yêu thích -->
                                        <!--</ul>
                                        <hr>
                                        <a href="~/html/cart.html" class="btn btn-black">Xem danh sách</a>
                                    </div>
                                </li>-->
                                <li>@await Html.PartialAsync("_CartPartial")</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*Serch Modal*@
                <div class="modal-search-header js-hide-modal-search  ">
                    <div class="container-search-header">
                        <button class="btn-hide-modal-search js-hide-modal-search">
                            <i class="fa fa-window-close-o" aria-hidden="true"></i>
                        </button>

                        <form class="wrap-search-header">
                            <button class="trans-04">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" name="search" placeholder="Tìm kiếm...">
                        </form>
                    </div>
                </div>


            </div>
        </div>
        <div id="header-bottom">
            <p>Miễn phí giao hàng nội thành
            <p>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-midde">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 help">
                        <h3>Trợ giúp</h3>
                        <ul class="">
                            <li><a href="#">Thanh toán</a></li>
                            <li><a href="#">Mua hàng</a></li>
                            <li><a href="#">Đổi trả</a></li>
                            <li><a href="#">Nạp tiền</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 location search">
                        <h3>Vị trí</h3>
                        <ul class="nav">
                            <li>Tìm cửa hàng <br><a href="#" class="btn btn-gray"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
                            <li>Tìm đơn hàng <br><a href="#" class="btn btn-gray"><i class="fa fa-id-card" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 application">
                        <h3>Tải ứng dụng</h3>
                        <ul>
                            <li><a href="#" class="btn btn-black"><i class="fa fa-apple" aria-hidden="true"></i><span><small>Download on the</small> App Store</span></a></li>
                            <li><a href="#" class="btn btn-gray"><i class="fa fa-android" aria-hidden="true"></i><span><small>Download it from </small>Play Store</span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Fan</h3>
                        <ul class="nav icon">
                            <li>
                                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                    <div class="clearfixr"></div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Ⓒ Created by Toan</p>
                    </div>
                    <div class="col-md-6">
                        <div class="cards text-right">
                            <img src="~/img/cards.png" alt="Credit Cards" style="width: 187px">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.js"></script>
    <script src="~/js/custom-select.js"></script>
    @*<script src="~/js/main.js"></script>*@

@*<script>
    (function ($) {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                debugger;
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        };
    }(jQuery));
    $(document).ready(function () {
        $(".count").inputFilter(function (value) {
            return "^[0-9]*$".test(value);    // Allow digits only, using a RegExp
        });
    });
    function Updatetotal(totalPrices = 0, totalPriceSales = 0) {
        $(".total").find(".total-cart").html("$" + totalPrices + "-" + totalPriceSales);
    }
    $(document).ready(function () {
        $('.count').prop('disabled', true);
        $(document).on('click', '.plus', function () {
            var parent = $(this).parents('.item-cart-1');
            var id = parseInt(parent.attr('data-id'));
            //var totalPriceSale = getTotalSaleCost();
            //var totalPrice = getTotalCost();

            for (var i in cart) {
                var item = cart[i];
                if (item.Id == id) {
                    item.Qty = item.Qty + 1;
                    Updatetotal(totalPrices(), totalPriceSales());
                }
            }
            saveCart();
            Count();
            showCart();
        });
        $(document).on('change', '.count', function ()
        {
            var parent = $(this).parents('.item-cart-1');
            var id = parseInt(parent.attr('data-id'));
            var value = parseInt($(this).val()); 
            console.log(value);
            if (value == null || value == '') {
                (this).val()
            } else {
                for (var i in cart) {
                    var item = cart[i];
                    if (item.Id == id) {
                        item.Qty = value;
                        Updatetotal(totalPrices(), totalPriceSales());
                    }
                }
                saveCart();
                Count();
                showCart();
            }
       
        })
        $(document).on('click', '.minus', function () {

            var parent = $(this).parents('.item-cart-1');
            var id = parseInt(parent.attr('data-id'));

            if ($('.count').val() <= 1) {
                remove(id);
                parent.fadeOut().empty();
                //var totalPriceSale = getTotalSaleCost();
                //var totalPrice = getTotalCost();
                /*  Updatetotal(totalPrices(), totalPriceSales());*/
                var dataList = $(".product-grid6").map(function () {
                    return $(this).data("id");
                })
                for (var i = 0; i < dataList.length; i++) {
                    if (dataList[i] == id) {
                        $(`.product-grid6[data-id=${dataList[i]}]`).find('.js-add-cart').removeClass('active-card');
                    }

                }
                saveCart();
                Count();
                showCart();
            } else {

                console.log(1);
                for (var i in cart) {
                    var item = cart[i];
                    if (item.Id == id) {
                        item.Qty = item.Qty - 1;
                    }
                }
                //var totalPriceSale = getTotalSaleCost();
                //var totalPrice = getTotalCost();
                /*     Updatetotal(totalPrices(), totalPriceSales());*/
                saveCart();
                Count();
                showCart();
            }
        });
    });
    var cart = [];



    $(function () {
        if (localStorage.cart) {
            // load cart data from local storage
            cart = JSON.parse(localStorage.cart);

            Count();
            showCart();  // display cart that is loaded into cart array
        }
    });

    var addcart = function () {
        $(this).toggleClass('active-card');
        var parent = $(this).parents('.product-item');
        var id = parseInt(parent.find('.product-grid6').attr('data-id'));
        var img = parent.find('img').attr('src');
        var title = parent.find('.title').text();
        var price = parent.find('.price').text().slice(1);
        var sale = parent.find('.sale').text().slice(1);
        var item = { Id: id, Title: title, Img: img, Price: price, Sale: sale, Qty: 1 };
        var i = cart.findIndex(cart => cart.Id === id);

        if (i === -1) {
            cart.push(item);
        } else {
            remove(id);
        }

        saveCart();
        showCart();
        Count();
    };
    $(document).off('click', '.js-add-cart').on('click', '.js-add-cart', addcart);


    // getTotalSaleCost
    var totalPriceSales = function () {
        let totalPriceSale = 0;
        for (var i = 0; i < cart.length; i++) {
            if (cart[i].Sale != "") {
                totalPriceSale += parseFloat(cart[i].Sale * cart[i].Qty);
            } else {
                totalPriceSale += parseFloat(cart[i].Price * cart[i].Qty);
            }
        }
        return totalPriceSale;
    }
    //getTotalCost
    var totalPrices = function () {
        let totalPrice = 0;
        for (var i = 0; i < cart.length; i++) {
            totalPrice += parseFloat(cart[i].Price * cart[i].Qty);
        }

        return totalPrice;
    };
    $(document).on('click', '.remove-item', function (e) {
        var parent = $(this).parents('.item-cart-1');
        var id = parseInt(parent.attr('data-id'));

        var dataList = $(".product-grid6").map(function () {
            return $(this).data("id");
        })
        for (var i = 0; i < dataList.length; i++) {
            if (dataList[i] == id) {
                $(`.product-grid6[data-id=${dataList[i]}]`).find('.js-add-cart').removeClass('active-card');
            }

        }
        remove(id);
        parent.empty();
        Count();
    });
    function remove(id) {
        var i = cart.findIndex(cart => cart.Id === id);

        if (i !== -1) {
            cart.splice(i, 1);
            localStorage.setItem('cart', JSON.stringify(cart));
            showCart();
        }

    }
    function Count() {
        var count = 0;
        for (var i = 0; i < cart.length; i++) {
            count += cart[i].Qty
        }
        $('.cart-count').html(count);
    }
    function saveCart() {
        if (window.localStorage) {

            localStorage.cart = JSON.stringify(cart);
        }
    }
    function showCart() {
        //if (cart.length == 0) {
        //    $("#cart-").css("visibility", "hidden"); // hide table that shows cart
        //    return;
        //}
        $("#cart").css("visibility", "visible");
        $("#cartBody").empty();  // empty tbody of table
        for (var i in cart) {
            var item = cart[i];

            var row = `<li class="item-cart-1" data-id=${item.Id}>
                        <div class="img-left">
                            <a href="../html/single.html">
                                <img src="${item.Img}" style="width: 100%">
                            </a>
                        </div>
                        <div class="meta-right">
                            <a href="javascript:void(0)" class="remove-item">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                                 <a href="../html/single.html" class="title cart-title">${item.Title}</a>
                            <p>
                            <span class="price">${item.Price}</span>`
            if (item.Sale != "") {
                row += `-<span class="sale">$${item.Sale}</span> </p> `
            } else {
                row += `<span class="sale">${item.Sale}</span> </p>`
            }
            row += `        <div>
                             <p class="quantity">
                                <span class="name">Số lượng: </span>
                                <span>
                                    <div class="qty mt-1">
                                        <span class="minus bg-dark">-</span>
                                        <input type="number" class="count" name="qty" value="${item.Qty}" min="1" max="10">
                                        <span class="plus bg-dark">+</span>
                                     </div> 
                                </span>
                            </p>
                            </div>
                         
                        </div>
                            </li>`;
            $("#cartBody").append(row);
        }
        Updatetotal(totalPrices(), totalPriceSales());
    }

</script>*@
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
   
    $(document).ready(function () {
        addtocart();
        function addtocart() {
            var cookies = Cookies.get('cart');
            var row = ``;
            if (cookies != null && cookies != '') {
                var item = JSON.parse(cookies);
            }
     
            var totalPriceSales = function () {

                let totalPriceSale = 0;
                for (let i in item) {

                    if (item[i].Sale != "") {
                        totalPriceSale += parseFloat(item[i].product.Sale * item[i].quantity);
                    } else {
                        totalPriceSale += parseFloat(item[i].product.Price * item[i].quantity);
                    }
                }
                return totalPriceSale;
            };
  
            var totalPrices = function () {
                let totalPrice = 0;
                for (let i in item) {
                    totalPrice += parseFloat(item[i].product.Price * item[i].quantity);
                }
                return totalPrice;
            };
            $(".total").find(".total-cart").html("$" + totalPrices() + "-" + totalPriceSales());
            for (var i in item) {
                var cart = item[i];

                row += `<li class="item-cart-1" data-id=${cart.product.Id}>
                        <div class="img-left">
                            <a href="../html/single.html">
                                <img src="https://localhost:44360/user-content/${cart.product.Thumbnail.FileName}" style="width: 100%">
                            </a>
                        </div>
                        <div class="meta-right">
                            <a href="javascript:void(0)" class="remove-item">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                                 <a href="../html/single.html" class="title cart-title">${cart.product.Title}</a>
                            <p>
                            <span class="price">$${cart.product.Price}</span>`
                if (cart.product.Sale != "" && cart.product.Sale != null) {
                    row += `-<span class="sale">$${cart.product.Sale}</span> </p> `
                } else {
                    row += `<span class="sale"></span> </p>`
                }
                row += `        <div>
                             <p class="quantity">
                                <span class="name">Số lượng: </span>
                                <span>
                                    <div class="qty mt-1">
                                        <span class="minus bg-dark">-</span>
                                        <input type="number" class="count" name="qty" value="${cart.quantity}" min="1" max="10">
                                        <span class="plus bg-dark">+</span>
                                     </div>
                                </span>
                            </p>
                            </div>

                        </div>
                            </li>`;
            }
            $("#cartBody").html(row);
        }
            $(document).off('click', '.js-add-cart').on('click', '.js-add-cart', function (event) {
                event.preventDefault();

                var parent = $(this).parents('.product-item');
                var productid = parseInt(parent.find('.product-grid6').attr('data-id'));
                var quantity = 1;
                var item = { productid: productid, quantity: quantity }
                $.ajax({
                    type: 'POST',
                    url: '@Url.ActionLink("AddToCart","Cart")',
                    data: {
                        productid: productid,
                        quantity: quantity
                    },
                    success: function (result) {
                        addtocart();
                        //window.location.href = '@Url.ActionLink("cart","cart")';
                      }
                })

            });
           $(document).on('click', '.remove-item', function (e) {
            var parent = $(this).parents('.item-cart-1');
            var id = parseInt(parent.attr('data-id'));
            $.ajax({
                    type: 'POST',
                    url: '@Url.ActionLink("RemoveCart","Cart")',
                    data: {
                        productid: id,
                    },
                    success: function (result) {
                        addtocart();
                      }
                })
           });
        $(document).on('change', '.count', function () {
            var parent = $(this).parents('.item-cart-1');
            var id = parseInt(parent.attr('data-id'));
            var value = parseInt($(this).val());
            console.log(value);
            if (value == null || value == '') {
                (this).val();
            } else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.ActionLink("UpdateCart", "Cart")',
                    data: {
                        productid: id,
                        quantity: value,
                    },
                    success: function (result) {
                        addtocart();
                    }
                });

            }

        })
        $(document).on('click', '.plus', function () {

            var parent = $(this).parents('.item-cart-1');
            var id = parseInt(parent.attr('data-id'));
            var value = parseInt(parent.find('.count').val());
            value++;
            $.ajax({
                type: 'POST',
                url: '@Url.ActionLink("UpdateCart", "Cart")',
                data: {
                    productid: id,
                    quantity: value,
                },
                success: function (result) {
                    addtocart();
                }
            });
        });
         $(document).on('click', '.minus', function () {
            var parent = $(this).parents('.item-cart-1');
            var id = parseInt(parent.attr('data-id'));
             var value = parseInt(parent.find('.count').val());
             if (value == 1) {
                 $.ajax({
                     type: 'POST',
                     url: '@Url.ActionLink("RemoveCart", "Cart")',
                     data: {
                         productid: id,
                     },
                     success: function (result) {
                         addtocart();
                     }
                 });
             } else {
                 value--;
             $.ajax({
                type: 'POST',
                url: '@Url.ActionLink("UpdateCart", "Cart")',
                data: {
                    productid: id,
                    quantity: value,
                },
                success: function (result) {
                    addtocart();
                }
            });
             }
    

        });
    });

</script>
@RenderSection("Scripts", required: false)
</body>
</html>
