@model ShipmentVm


@section styles{
<link rel="stylesheet" href="~/css/order-details.css" />
}
<div class="card">
    <div class="card-header order-header text-left">
        <h4>
            Shipment  Details : # @Model.Id
        </h4>
        <button class="btn btn-add-cart btn-success">
            <i class="fas fa-download"></i> Dowload
        </button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="order-header">
                        <h5>Shipping Information</h5>
                        <span class="collapsed" data-toggle="collapse" data-target="#card1" aria-expanded="true" aria-controls="card1">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                    </div>
                    <div class="collapse multi-collapse show" id="card1">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Order Date : </span>
                                <span class="ml-2">@Model.CreateOn</span>
                            </div>
                            <div>
                                <span class="card-title"> Tracking Number  : </span>
                                <span class="ml-2">@Model.TrakingNumber</span>
                            </div>
                            <div>
                                <span class="card-title">Warehouse : </span>
                                <span class="ml-2">@Model.WarehouseName</span>
                            </div>
                            <div>
                                <span class="card-title">OrderId : </span>
                                <span class="ml-2">@Model.OrderId</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="order-header">
                        <h5>Shipping  Information</h5>
                        <span class="collapsed" data-toggle="collapse" data-target="#card2" aria-expanded="true" aria-controls="card2">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                    </div>
                    <div class="collapse multi-collapse show" id="card2">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Name : </span>
                                <span class="ml-2">@Model.ShippingAddress.ContactName</span>
                            </div>
                            <div>
                                <span class="card-title">StateOrProvinceName : </span>
                                <span class="ml-2">@Model.ShippingAddress.StateOrProvince</span>
                            </div>
                            <div>
                                <span class="card-title">Address : </span>
                                <span class="ml-2">@Model.ShippingAddress.AddressLine1</span>
                            </div>
                            <div>
                                <span class="card-title">Phone : </span>
                                <span class="ml-2">@Model.ShippingAddress.Phone</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="order-header">
                    <h5>Product Information</h5>
                    <span class="collapsed" data-toggle="collapse" data-target="#card3" aria-expanded="true" aria-controls="card3">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </div>
                <div class="collapse multi-collapse show" id="card3">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Sku</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProductVms)
                                {
                                    <tr>
                                        <td>
                                            <span class="card-title"> @item.ProductName</span>
                                        </td>
                                        <td>@item.ProductSku</td>
                                        <td>@item.QuantityToShip</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a asp-action="Index" class="btn btn-light">Shipment List</a>
            </div>
        </div>
    </div>
</div>
