@model FormProduct
@{
     ViewData["Title"] = "Thêm sản phẩm";
}
@section styles{
    <link href="~/lib/media-preview-upload/css/style.css" rel="stylesheet" />
    <link href="~/lib/tag-input/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/color/build/1.2.3/css/pick-a-color-1.2.3.min.css" rel="stylesheet" />
<style>
    .fade {
        display: none ;
    }
    .show{
        display:block !important;
    }
</style>
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title">Dannh sách sản phẩm</h4>
            </div>
            <div class="col-md-6 ">
                <div class="text-right">
                    <button class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="option-tab" data-toggle="tab" href="#option" role="tab" aria-controls="option" aria-selected="false">Biến Thể</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">

                    <div class="form-group">
                        <label>Code</label>
                        <input asp-for="Products.Code" class="form-control" placeholder="Code" maxlength="12" value="@(Model != null ? Model.Products.Code : "")" />
                        <span asp-validation-for="Products.Code" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Tên</label>
                        <input asp-for="Products.Title" class="form-control Title" placeholder="Tên sản phẩm" required maxlength="250" />
                        <small>Tối đa 250 ký tự</small>
                        <span asp-validation-for="Products.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Products.Slug" class="control-label"></label>
                        <input asp-for="Products.Slug" type="text" class="form-control" value="@Model.Products.Slug" id="permalink" readonly />
                        <span asp-validation-for="Products.Slug" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Danh mục</label>
                        <select asp-for="Products.CategoryId" class="form-control">
                            <option value="-1">Chọn</option>
                            @foreach (var item in Model.Products.categories)
                            {
                                <option value=@item.Id>@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="Products.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Thương hiệu</label>
                        <select asp-for="Products.BrandId" class="form-control">
                            <option value="-1">Chọn</option>
                            @foreach (var item in Model.Products.brands)
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Products.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Giá tiền</label>
                        <input asp-for="Products.Price" class="form-control" placeholder="Giá tiền" maxlength="12" />
                        <span asp-validation-for="Products.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Giá khuyến mại</label>
                        <input asp-for="Products.Sale" class="form-control" placeholder="Giá khuyến mại" maxlength="12" />
                        <span asp-validation-for="Products.Sale" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea asp-for="Products.Description" class="form-control" placeholder="Mô tả"></textarea>
                        <span asp-validation-for="Products.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Chi tiết</label>
                        <textarea asp-for="Products.Detail" class="form-control" placeholder="Chi tiết"></textarea>
                        <span asp-validation-for="Products.Detail" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Ảnh</label>

                        <input asp-for="ThumbnailImage" class="form-control-file" type="file" id="thumbnail" onchange="previewFile(this)" hidden />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                        <br />
                        <img id="previewThumbnail" width="90" />
                        <br />
                        <label for="thumbnail" class="btn btn-primary mt-1">Chọn ảnh</label>

                    </div>
                    <div class="form-group ">
                        <label>Danh sách hình ảnh</label>
                        <ul class="media-list" id="media-list">
                            @foreach (var item in Model.Products.ProductImages)
                            {
                                <li>
                                    <img id="demo" src="@item.MediaUrl" />
                                    <div class="post-thumb"><div class="inner-post-thumb"><a href="javascript:void(0);" data-id="@item.Media" class="remove-pic"><i class="fa fa-times" aria-hidden="true"></i></a><div></div></div></div>
                                </li>
                            }
                            <li class="myupload">
                                <span>
                                    <i class="fa fa-plus" aria-hidden="true" for="ProductImages"></i>
                                    <input asp-for="ProductImages" class="form-control-file " id="ProductImages" type="file" multiple name="ProductImages" />
                                </span>
                            </li>
                        </ul>
                        <span asp-validation-for="ProductImages" class="text-danger"></span>


                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="Products.IsHot" class="form-check-input" type="checkbox" id="IsHot">
                            <label class="form-check-label" for="IsHot">
                                IsHot
                            </label>
                            <span asp-validation-for="Products.IsHot" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="Products.IsFuture" class="form-check-input" type="checkbox" id="IsFuture">
                            <label class="form-check-label" for="IsFuture">
                                IsFuture
                            </label>
                            <span asp-validation-for="Products.IsFuture" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="option" role="tabpanel" aria-labelledby="option-tab">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="add-option">
                            <option selected>Chọn</option>
                            @foreach (var item in Model.ProductOptionVm)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <button id="option" class="btn btn-outline-secondary" type="button">Chọn</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
        <script src="~/lib/Slug/speakingurl.min.js"></script>
        <script src="~/lib/Slug/jquery.stringtoslug.js"></script>
        <script src="~/lib/color/build/dependencies/tinycolor-0.9.15.min.js"></script>
        <script src="~/lib/tag-input/bootstrap-tagsinput.js"></script>
        <script src="~/lib/color/build/1.2.3/js/pick-a-color-1.2.3.min.js"></script>
        <script>
        function previewFile(input) {
            var file = $(input).get(0).files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function () {
                    $("#previewThumbnail").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        };
        var names = @Html.Raw(Json.Serialize(Model.Products.ProductImages.Select(x => x.Media).ToList()));
        $('body').on('change', '#ProductImages', function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
            names.push($(this).get(0).files[i].name);
            if (file.type.match('image')) {

                var picReader = new FileReader();
                picReader.fileName = file.name
                picReader.addEventListener("load", function (event) {

                    var picFile = event.target;

                    var div = document.createElement("li");

                    div.innerHTML = "<img id='demo' src='" + picFile.result + "'" +
                        "title='" + picFile.name + "'/><div  class='post-thumb'><div class='inner-post-thumb'><a href='javascript:void(0);' data-id='" + event.target.fileName + "' class='remove-pic'><i class='fa fa-times' aria-hidden='true'></i></a><div></div>";

                    $("#media-list").prepend(div);

                });
            } else {
                var picReader = new FileReader();
                picReader.fileName = file.name
                picReader.addEventListener("load", function (event) {

                    var picFile = event.target;

                    var div = document.createElement("li");

                    div.innerHTML = "<video src='" + picFile.result + "'" +
                        "title='" + picFile.name + "'></video><div class='post-thumb'><div  class='inner-post-thumb'><a href='javascript:void(0);' data-id='" + event.target.fileName + "' class='remove-pic'><i class='fa fa-times' aria-hidden='true'></i></a><div></div>";

                    $("#media-list").prepend(div);

                });
            }
            picReader.readAsDataURL(file);
        }
            $('#demo').error(function () {
                alert('Image does not exist !!');
            });

        });
        $('body').on('click', '.remove-pic', function () {
            $(this).parent().parent().parent().remove();
            var removeItem = $(this).attr('data-id');
            var yet = names.indexOf(removeItem);

            if (yet != -1) {
                names.splice(yet, 1);
            }
        });
        $(document).ready(function () {
            $(".Title").stringToSlug();
        });
            var ListValue = [];
            var ValueCount = 0;
            $(document).off('click', '#option[type="button"]').on('click', '#option[type="button"]', function () {
                var value = $("#add-option").find(":selected").text();
                var demo22 = $("#add-option").find(":selected").val()
                for (var i in ListValue) {
                    var item = ListValue[i];
                    if (item == value) {
                        alert("bạn đã chọn biến thể này ")
                        return;
                    };
                }
                if (value == "Chọn") {
                    alert("Vui lòng chọn biến thể ")
                    return;
                }
                ListValue.push(value);
                var index = ListValue.indexOf(value);
                var html = ``;
                html += `  <div class="input-group fade show mb-3 option-value">
                  <div class="input-group-prepend">
                    <span class="input-group-text">${value}</span>
                  </div>
                        <input type="number" hidden name="ProductOptionVm[${index}].Id" value="${demo22}">
                         <input type="text" hidden name="ProductOptionVm[${index}].Name" value="${value}">


                    <input  type="text" data-role="tagsinput"  >
                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary option-type" data-toggle="modal" data-target="#exampleModal-${ListValue.length - 1}" >
                        Cấu hình hiển thị
                    </button>
                <button type="button" class="btn btn-danger removeoption" >
                        Xóa
                    </button>

                </div>
              <div class="modal fade" id="exampleModal-${ListValue.length -1}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chọn Kiểu </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div >

                                    </div>
                                    <div class="modal-body">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions-${ListValue.length - 1}" id="inlineRadio1" value="Text" checked>
                                            <label class="form-check-label" for="inlineRadio1">Display text</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions-${ListValue.length -1}" id="inlineRadio2" value="Color">
                                            <label class="form-check-label" for="inlineRadio2">Display color</label>
                                        </div>
                                        <input type="text" hidden name="ProductOptionVm[${index}].DisplayType" class ="DisplayType" />
                                        <div>

                                            <div class="form-group key" >
                                                    <input  type="hidden" name="value"/>

                                            </div>
                                        </div>

                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
                                        </div>
                                    </div>
                            </div>
                        </div> `
                $("#option").append(html);
                $(".removeoption").on("click", function () {

                    var parent = $(this).parent();
                    var removeItem = parent.find(".input-group-text").text();
                    var yet = ListValue.indexOf(removeItem);
                    if (yet != -1) {
                        ListValue.splice(yet, 1);
                    }
                    parent.next(".modal").remove();
                    parent.remove();

                });

                $(function () {
                    $("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();
                });

                $("input[data-role=tagsinput]").off('change').on("change", function (e) {
                    e.preventDefault();
                    var html = ``;
                    var parents = $(this).parent(".option-value");
                    var keys = $(this).tagsinput('items');

                    var value = parents.find(".input-group-text").text();
                    var index = ListValue.indexOf(value);
                    var radioValue = parents.next(".modal").find(`input[name='inlineRadioOptions-${index}']:checked`).val();
                    for (var i in keys) {
                        var item = keys[i];
                        if (radioValue == 'Text') {
                            html += `<label class="col-sm-3 col-md-3 control-label">
                                    ${item}<input name="ProductOptionVm[${index}].Values[${i}].Key" type="text"  value =${item} hidden>
                                    </label>
                                 <div class="col-sm-9 col-md-9">
                                 <input  class="form-control text" name="ProductOptionVm[${index}].Values[${i}].Display"   />

                        </div>`
                            parents.next(".modal").find('.DisplayType').val(radioValue);
                        } else {
                            html += `<label class="col-sm-3 col-md-3 control-label">
                                    ${item}<input name="ProductOptionVm[${index}].Values[${i}].Key" type="text"  value =${item} hidden>
                                    </label>
                                 <div class="col-sm-9 col-md-9">
                            <input type="text" value="222" name="ProductOptionVm[${index}].Values[${i}].Display" class="pick-a-color form-control ">
                        </div>`
                            parents.next(".modal").find('.DisplayType').val("Color");
                        }

                    }
                    parents.next().find(".key").html(html);

                    parents.next().find(".pick-a-color").pickAColor({

                        showSavedColors: true,
                        saveColorsPerElement: true,
                        fadeMenuToggle: true,
                        showAdvanced: true,
                        showBasicColors: true,
                        showHexInput: true,
                        allowBlank: true,

                    });
                    $(`input[name='inlineRadioOptions-${index}']`).off('change').on('change', function () {
                        var html = ``;
                        var value = $(this).val();
                        var parent = $(this).parents(".modal");

                        var input = $(this).parents(".modal").prev().find('input[data-role=tagsinput]').tagsinput('items');
                        for (var i in input) {
                            var item = input[i];
                            if (value == 'Text') {
                                html += `<label class="col-sm-3 col-md-3 control-label">
                                    ${item}<input name="ProductOptionVm[${index}].Values[${i}].Key" type="text"  value =${item} hidden>
                                    </label>
                                 <div class="col-sm-9 col-md-9">
                                 <input  class="form-control text" name="ProductOptionVm[${index}].Values[${i}].Display"   />

                        </div>`
                                parent.find('.DisplayType').val(value);
                            } else {
                                html += `<label class="col-sm-3 col-md-3 control-label">
                                    ${item}<input name="ProductOptionVm[${index}].Values[${i}].Key" type="text"  value =${item} hidden>
                                    </label>
                                 <div class="col-sm-9 col-md-9">
                            <input type="text" value="222" name="ProductOptionVm[${index}].Values[${i}].Display" class="pick-a-color form-control ">
                        </div>`
                                parent.find('.DisplayType').val("Color");
                            }

                        }
                        parent.find(".key").html(html);

                        parent.find(".pick-a-color").pickAColor({

                            showSavedColors: true,
                            saveColorsPerElement: true,
                            fadeMenuToggle: true,
                            showAdvanced: true,
                            showBasicColors: true,
                            showHexInput: true,
                            allowBlank: true,

                        });
                    });

                });

        });

        </script>

    }
