@model Product
@{
    ViewData["Title"] = "Details";
   
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Chi tiết sản phẩm</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Mã
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                Chi Tiết
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Thumbnail)
            </dt>
            <dd class="col-sm-10">
                @if (@Model.Thumbnail != null)
                {

                    <img id="previewThumbnail" width="90" height="100" src="~/user-content/@Model.Thumbnail.FileName" />
      
                }
            </dd>
            <dt class="col-sm-2">
                Ngày Tạo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsFuture)
            </dt>
            <dd class="col-sm-10">
                @if (Model.IsFuture == true)
                {
                    <span>Có</span>
                }
                else
                {
                    <span>không</span>
                }
            </dd>
            <dt class="col-sm-2">
                Ngày Sửa
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EditOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsHot)
            </dt>
            <dd class="col-sm-10">
                @if (Model.IsHot == true)
                {
                    <span>Có</span>
                }
                else
                {
                    <span>không</span>
                }
            </dd>
        </dl>

    </div>
    <div class="card-footer">
        <a asp-action="Updated" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

