@model List<Product>;
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title">Danh sách sản phẩm</h4>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Create">
                        Thêm mới
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Mã</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col">Giá khuyến mại</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Code</td>
                        <td>@item.Title</td>
                        <td>@item.Price.GetValueOrDefault(0).ToString("#,#.##")</td>
                        <td>@item.Sale.GetValueOrDefault(0).ToString("#,#.##")</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <a asp-action="Updated" asp-route-id="@item.Id">Sửa</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Chi Tiết</a> |
                            <a asp-action="Deleted" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>