@model Product;
@{
    ViewData["Title"] = Model.Title;
}
@section head{
    <link href="~/css/single.css" rel="stylesheet" />
}
<div class="single">
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="col-md-6 single-left gallery-lb">
                    @for (var i = 0; i < Model.Images.Count; i++)
                    {
                        <div class="mySlides" style="display: none;">
                            <div class="numbertext">@(i+1) / @Model.Images.Count</div>
                            <a class="zoom " href="https://localhost:44360/user-content/@Model.Images[i].Media.FileName" tabindex="0">
                                <i class="fal fa-expand"></i>
                            </a>
                            <img src="https://localhost:44360/user-content/@Model.Images[i].Media.FileName" style="width:100%">
                        </div>

                    }
                    <button class="img-prev" onclick="plusSlides(-1)"><i class="fal fa-angle-left" aria-hidden="true"></i></button>
                    <button class="img-next" onclick="plusSlides(1)"><i class="fal fa-angle-right" aria-hidden="true"></i></button>

                    <div class="image-slide">
                        @for (var i = 0; i < Model.Images.Count; i++)
                        {
                            <div class="column">
                                <img class="demo cursor" src="https://localhost:44360/user-content/@Model.Images[i].Media.FileName" style="width:100%" onclick="currentSlide(1)" alt="@Model.Title">
                            </div>

                        }
                    </div>


                </div><!--Hình ảnh-->

                <div class="col-md-6 single-right pd-xs-0">
                    <h1 class="single-title">@Model.Title</h1>
                    <p class="price">
                        @if (Model.Sale > 0)
                        {
                            <span>@Model.Sale.GetValueOrDefault(0).ToString("#,#.##") </span> <del>@Model.Price.GetValueOrDefault(0).ToString("#,#.##")</del>
                        }
                        else
                        {
                            @Model.Price.GetValueOrDefault(0).ToString("#,#.##")
                        }
                        VNĐ
                    </p>
                    <div class="product-rating">
                        <span class="rating star-rating"> @Model.Rating.Average(x => x.Scores)</span>
                      
                        <a href="#reviews" class="review-link" rel="nofollow">(<span class="count">@Model.Rating.Count</span> nhận xét)</a>
                    </div>
                    <div itemprop="description" class="short-description">
                        <p>@Model.Description</p>
                    </div>

                    <!--Số lượng-->
                    <div class="quantity">
                        <div class="wrap-num-product">
                            <div class="btn-num-product-down">
                                <i class="fal fa-minus" aria-hidden="true"></i>
                            </div>

                            <input class="txt-center num-product" type="number" name="num-product" value="1">

                            <div class="btn-num-product-up">
                                <i class="fal fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <!--Thêm giỏ hàng-->
                    <div class="add-cart">
                        <a href="#" class="btn btn-black"> <span><i class="fal fa-shopping-basket" aria-hidden="true"></i></span>Thêm giỏ hàng</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="add-wishlist">
                        <a href="#"> <span><i class="fal fa-heart" aria-hidden="true"></i></span>Thêm danh sách yêu thích</a>
                    </div>

                    <div class="clearfix"></div>
                    <div class="product-meta">
                        <span class="product_brand">
                            Thương hiệu:
                            <a href="#">Bloom</a>
                        </span>
                        <span class="product_sku">
                            Xuất xứ:
                            <a href="#">N/A</a>
                        </span>
                        <span class="product_category">
                            Danh mục:
                            <a href="#">@Model.Category.Title</a>
                        </span>
                        <span class="product_share">
                            Chia sẻ:
                            <a href="#" class="share-facebook" style="color: #025aa5 !important"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="clearfix"></div>

                </div><!--Thông tin cơ bản-->
            </div>
            <div class="col-md-3">
                <div class="single-product-sidebar">
                    <span class="title">Có thể bạn thích</span>
                    <div class="div-btn">
                        <ul>
                            <li><a href="#"><i class="fal fa-angle-left" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fal fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <hr>
                    <ul>
                        <li>
                            <a href="#"><img src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg" style="width: 70px"></a>
                            <div class="product-item-right">
                                <p class="product-title">
                                    <a href="#" title="The Trend Polo">The Trend Polo</a>
                                </p>
                                <p class="price"><span>99.000</span> - <del>120.000</del><small>VNĐ</small> </p>
                            </div>
                        </li>
                        <li>
                            <a href="#"><img src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg" style="width: 70px"></a>
                            <div class="product-item-right">
                                <p class="product-title">
                                    <a href="#" title="The Trend Polo">The Trend Polo</a>
                                </p>
                                <p class="price"><span>99.000</span> - <del>120.000</del><small>VNĐ</small> </p>
                            </div>
                        </li>
                        <li>
                            <a href="#"><img src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg" style="width: 70px"></a>
                            <div class="product-item-right">
                                <p class="product-title">
                                    <a href="#" title="The Trend Polo">The Trend Polo</a>
                                </p>
                                <p class="price"><span>99.000</span> - <del>120.000</del><small>VNĐ</small> </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="Utilities-block">
                    <span class="title">Tiện ích</span>
                    <hr>
                    <table>
                        <tbody>
                            <tr>
                                <td class="size-45" style="font-size: 35px"><i class="fal fa-usd-circle" aria-hidden="true"></i></td>
                                <td>Tiết kiệm tiền cho những đơn hàng tiếp theo</td>
                            </tr>
                            <tr>
                                <td class="size-45" style="font-size: 35px"><i class="fal fa-truck" aria-hidden="true"></i></td>
                                <td>Giao hàng toàn quốc</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="product-information col-md-12">
                <div class="div_link">
                    <ul class="nav">
                        <li><a href="#information" class="active" data-toggle="tab" role="tab">Thông tin thêm</a></li>
                        <li><a href="#reviews" data-toggle="tab" role="tab">Nhận xét</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="information" class="tab-pane fade in active show" role="tabpanel" style="min-height: 300px">
                        @Html.Raw(Model.Detail)
                    </div>
                    <div id="reviews" class="tab-pane fade in" role="tabpanel" style="min-height: 300px">
                        <div class="col-md-6 list-review">
                            <div class="row">
                                <h1 class="title">Đánh giá cho sản phẩm này</h1>
                                <div>
                                    <ul>
                                        @foreach (var rating in Model.Rating)
                                        {
                                            <li>
                                                <div class="review-avatar"><a href=""><img src="../img/user.png"></a></div>
                                                <div class="review-content">
                                                    <div class="me-information">
                                                        <span class="me-name">@rating.Name</span>
                                                        <span class="me-rating">
                                                            <span class="rating star-rating">@rating.Scores</span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <p>@rating.Content</p>
                                                    <time>@rating.CreatedOn.GetValueOrDefault(DateTime.Now).ToString("dd/MM/yyyy hh:mm")</time>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>

                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 add-review">
                            <div class="row">
                                <h1 class="title">Thêm đánh giá</h1>

                                <form id="main-review-form" class="contact-form" name="contact-form" asp-controller="Rating" asp-action="Add" method="post">
                                    <div class="review-rating">
                                        <label>Xếp hạng của bạn</label>
                                        <span class="wrap-rating fs-18 cl11 pointer">
                                            <i class="fa fa-star zmdi zmdi-star-outline" aria-hidden="true"></i>
                                            <i class="fa fa-star zmdi zmdi-star-outline" aria-hidden="true"></i>
                                            <i class="fa fa-star zmdi zmdi-star-outline" aria-hidden="true"></i>
                                            <i class="fa fa-star zmdi zmdi-star-outline" aria-hidden="true"></i>
                                            <i class="fa fa-star zmdi zmdi-star-outline" aria-hidden="true"></i>

                                            <input type="number" name="Scores" hidden>
                                        </span>
                                    </div>
                                    <input type="text" name="productId" value="@Model.Id" readonly hidden>
                                    <input type="text" name="name" required="required" placeholder="Tên *">

                                    <input type="email" name="email" required="required" placeholder="Email *">
                                    <textarea name="content" id="message" required="required" class="count-content" rows="3" placeholder="Nội dung *"></textarea>
                                    <span class="views-count"></span>

                                    <br>
                                    <p class="note">* trường dữ liệu bắt buộc</p>

                                    <button type="submit" name="submit" class="btn btn-black">Gửi đi</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>
@section Scripts{
    <script type="text/javascript" src="~/js/single.js"></script>
    <script>

    </script>
}