@model ProductList;
@{
    ViewData["Title"] = "Sản phẩm";
}
<main>
    <div class="shop_breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <a href="../html/home.html">Trang chủ</a>

                        <span class="delimeter"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        <h1 class="title">Sản phẩm</h1>
                    </nav>

                    <a class="back-history" href="javascript: history.go(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i> Quay lại trang trước</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="container">

            <div class="row">
                <div class="col-xl-3">
                    <div class="row">
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            <h3 class="side-title">Danh mục</h3>
                            @if (Model.categories != null)
                            {
                                @foreach (var item in Model.categories)
                                {
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="category-@item.Id" name="category" value="@item.Id">
                                        <label class="form-check-label" for="category-@item.Id">@item.Title</label>
                                    </div>
                                }
                            }
                        </div><!--/category-productsr-->

                        <div id="brands">
                            <h3 class="side-title">Thương hiệu</h3>
                            <div class="panel panel-default">
                                <input id="brands_input" style="display:none" type="text" name="brands">
                            
                                    @foreach (var item in Model.Brand)
                                    {

                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="brand-@item.Id" name="brand" value="@item.Id">
                                            <label class="form-check-label" for="brand-@item.Id">@item.Name</label>
                                        </div>
                                    }


                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="Sort">
                                <div class="query"></div>
                                <div>
                                    <select class="sort">
                                        <option value="-1">Sắp xếp</option>
                                        <option value="title-asc">AZ</option>
                                        <option value="title-desc">ZA</option>
                                        <option value="price-asc">Tăng dần</option>
                                        <option value="price-desc">Giảm dần</option>
                                    </select>


                                    <select id="themes" name="pageSize">
                                        <option value="12">12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                        <option value="-1">Tất cả</option>
                                    </select>
                                </div>
                            </div>
                            <div id="list-product-all" class="product row">
                                @if (Model.products == null)
                                {
                                    <h1> Hien chua co san pham nao</h1>
                                }
                                else
                                {
                                    @foreach (var item in Model.products)
                                    {
                                        <div class="col-md-4 col-6 product-item">
                                            <div class="product-grid6" id="item_@item.Id" data-id="@item.Id">
                                                <div class="product-image6">
                                                    <a href="/chi-tiet/@item.Slug">
                                                        <img class="pic-1" src="/user-content/@item.ThumbnailImage.FileName" alt="@item.Title">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h3 class="title"><a href="#">@item.Title</a></h3>
                                                    <div>
                                                        @if (item.Sale > 0)
                                                        {
                                                            <span class="price">@item.Price.GetValueOrDefault(0).ToString("#,#.##")  ₫ - </span>
                                                            <span class="sale">@item.Sale.GetValueOrDefault(0).ToString("#,#.##") ₫</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="price">@item.Price.GetValueOrDefault(0).ToString("#,#.##")  ₫</span>
                                                        }
                                                    </div>
                                                </div>
                                                <ul class="social">
                                                    <li><a href="javascript:void(0)" class="js-show-modal" data-toggle="modal" data-target="#exampleModal-1" data-id="@item.Id" data-tip="Quick view"><i class="fa fa-search"></i></a></li>
                                                    <li><a href="" class="js-add-wishlist" data-status="true" data-id="@item.Id" data-tip="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                                    <li>
                                                        <a href="javascript:void(0)" class="togget-add-cart" data-status="true" data-id="@item.Id" data-tip="Add to Cart">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="clearfix"></div>
                    

                                @{
                                    var urlTemplate = Url.Action() + "?PageNumber={0}";
                                    var request = ViewContext.HttpContext.Request;
                                    foreach (var key in request.Query.Keys)
                                    {
                                        if (key == "PageNumber")
                                        {
                                            continue;
                                        }
                                        if (request.Query[key].Count > 1)
                                        {
                                            foreach (var item in (string[])request.Query[key])
                                            {
                                                urlTemplate += "&" + key + "=" + item;
                                            }
                                        }
                                        else
                                        {
                                            urlTemplate += "&" + key + "=" + request.Query[key];
                                        }
                                    }

                                    var startIndex = Math.Max(Model.Search.PageNumber - 5, 1);
                                    var finsshIndex = Math.Min(Model.Search.PageNumber + 5, Model.Search.PageCount);
                                }
                                @if (Model.Search.PageCount > 1)
                                {<nav aria-label="...">
                                        <ul class=" = pagination">
                                            @if (Model.Search.PageNumber != startIndex)
                                            {
                                                <li class="page-item ">
                                                    <a href="@urlTemplate.Replace("{0}", "1")" title="@Model.Search.PageNumber.ToString()" class="page-link">Đầu</a>
                                                </li>
                                                <li class="page-item ">
                                                    <a href="@urlTemplate.Replace("{0}", (Model.Search.PageNumber - 1).ToString())" class="page-link">Sau</a>
                                                </li>

                                            }
                                            @for (var i = startIndex; i <= finsshIndex; i++)
                                            {
                                                if (i == Model.Search.PageNumber)
                                                {
                                                    <li class="page-item active">
                                                        <a href="@urlTemplate.Replace("{0}", i.ToString())" class="page-link">@i</a>
                                                    </li>

                                                }
                                                else
                                                {
                                                    <li class="page-item ">
                                                        <a href="@urlTemplate.Replace("{0}", i.ToString())" class="page-link">@i</a>
                                                    </li>
                                                }
                                            }
                                            @if (Model.Search.PageNumber != finsshIndex)
                                            {
                                                <li class="page-item ">
                                                    <a href="@urlTemplate.Replace("{0}", (Model.Search.PageNumber + 1).ToString())" class="page-link">Sau</a>
                                                </li>
                                                <li class="page-item ">
                                                    <a href="@urlTemplate.Replace("{0}", Model.Search.PageCount.ToString())" title="@Model.Search.PageCount.ToString()" class="page-link">Cuối</a>
                                                </li>
                                            }

                                        </ul>
                                    </nav>
                                }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        var search = @Html.Raw(Json.Serialize(Model.Search));
        $(function () {


            $("input[name='category']").off('click').on('click', function () {
                getProduct();
            });
            $(".sort").on('change', function () {
                getProduct();
            });
            $("input[name='brand']").off('click').on('click', function () {
                getProduct();
            });

            function getProduct(category) {
                var search = $("input[name='query']").val();
                var category = $("input[name='category']:checked").val();
                var brand = $("input[name='brand']:checked").val();
                var sort = $(".sort option:selected").val();
                //var url_string = window.location.href;
                //var url = new URL(url_string);
                //var PageNumber = url.searchParams.get("PageNumber");
                var query = "";
                if (category != null) {
                    query += (query.length == 0 ? "?" : "&") + "category=" + category;
                }
                if (search != null && search != "") {

                    query += (query.length == 0 ? "?" : "&") + "query=" + search;
                }
                //if (PageNumber != null && PageNumber != "") {

                //    query += (query.length == 0 ? "?" : "&") + "PageNumber=" + PageNumber;
                //}
                if (brand != null) {
                    query += (query.length == 0 ? "?" : "&") + "brand=" + brand;
                }
                if (sort != null && sort != -1) {
                    query += (query.length == 0 ? "?" : "&") + "sort=" + sort;
                }
                window.location = window.location.origin + window.location.pathname + query;
            }

        });

        $(document).ready(function () {

            function init() {
                if (search.query != null) {

                    $("input[name='query']").val(search.query);
                    $(".query").html(`<h4>Kết quả tìm kiếm cho : ${search.query}</h4>`);
                }
                var url_string = window.location.href;
                var url = new URL(url_string);
                var category = url.searchParams.get("category");
                var sort = url.searchParams.get("sort");
                var brand = url.searchParams.get("brand");
                if (sort != undefined) {
                    var options = $(".sort option");
                    $.each(options, function (i, option) {
                        let value = $(option).val();
                        if (value == sort) {
                            $(option).prop("selected", true);
                        }
                    })

                }
                if (category != undefined && category != null) {
                    var categories = $("input[name='category']");
                    $.each(categories, function (i, item) {
                        let value = $(item).val();
                        if (value == category) {
                            $(item).prop('checked', true);

                        }

                    })
                }
                if (brand != undefined && brand != null) {
                    var brands = $("input[name='brand']");
                    $.each(brands, function (i, item) {
                        let value = $(item).val();
                        if (value == brand) {
                            $(item).prop('checked', true);

                        }

                    })
                }
            }
            init();

          
        })

    </script>
}
